services:
  immich-ipad:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    networks:
      - immich_default

networks:
  immich_default:
    external: true
